
.movie-container {
    transition: transform 0.3s ease;
  }
  

  .mySwiper {
    width: 100%;
    height: 100%;
  }

  .custom-pagination2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .custom-pagination2 .swiper-pagination-bullet {
    width: 10px; 
    height: 10px; 
    background-color: #fff;
    opacity: 0.5;
    transition: all 0.3s ease;
    border-radius: 10px; 
  }
  
  .custom-pagination2 .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #EF4234; 
    width: 10px;
    height: 40px;
  }
